body{
    margin:0;
    padding:0;
}
.parent{
    background-color:whitesmoke;
   display: flex;
    margin: 2px;
   padding: 10px;
}
.img-div img{
    width: 400px;
    height: 400px;
    border-radius: 8px;
    
   
}
.text-div{
    margin-left: 20px;
    padding: 10px;
}
.btn{
    background-color: teal;
    color: white;
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-right{
    background-color: orange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70%;
}